@model Movie // this is the model i want to use in this view

<h1>Fantastic! @Model.Title has been added to the Database!</h1>

@* Confirmation page to confirm that the movie has been added to the database *@
<a class="btn btn-primary" asp-controller="Home" asp-action="MovieList" style="text-decoration: none; padding: 10px 15px; background-color: #007bff; color: white; border-radius: 5px; font-weight: bold; transition: background-color 0.3s ease;">
    Go to Movie List
</a>
