@model Movie // this is the model i want to use in this view

<h1>Fantastic! @Model.Title has been added to the Database!</h1>

@* Confirmation page to confirm that the movie has been added to the database *@