@{
    ViewData["Title"] = "Get to know Joel";
}
<h1>@ViewData["Title"]</h1>

@* Links and picture on the get to know joel page *@
<p>Joel performs regularly at the Quick Wits comedy club! Click the link below to check it out!</p>
<a href="https://www.qwcomedy.com/">QW Comedy link!</a>
<br />
<br />

<a href="https://baconsale.com/">
    <img src="~/img/BaconsaleKate.jpg" alt="Bacon Sale" height="300" />
</a>
<br />
<br />

<a href="https://baconsale.com/">Bacon Sale Site!</a>

